.nodes {
    padding: 20px;
}

.generic-node {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    height: 60px;
}

.generic-node > * {
    border-right: 1px solid var(--card-border);
}

.generic-node > :last-child {
    border-right: none;
}

.node {
    background: var(--card-color);
    border-radius: 10px;
}

.node > * {
    width: calc(100% / 6);
    background: var(--card-color);
}

.node > * > * {
    background: var(--card-color);
}

.nodes-header {
    background: var(--header-color);
    border-radius: 10px 10px 0 0;
}

.nodes-header > * {
    width: calc(100% / 6);
    background: var(--header-color);
}

.node-container {
    position: relative;
}

.node:hover {
    border: 1px solid var(--accent-color);
}

.status-indicator {
    width: 6px;
    height: 40px;
    border-radius: 10000px;
    background: red;
    margin: 0 5px 0 5px;
    position: absolute;
    top: 10px;
    left: 4px
}

.node-entry {
    display: flex;
    align-items: center;
}

.node-entry > img {
    height: 17px;
    margin: 0 10px 0 20px;
    color: white;
    fill:white;
}