:root{
    --main-color: #252b33;
    --card-color: #3b4351;
    --card-border: #434b5c;
    --header-color: #303643;
    --accent-color: #a6a6a6;
    --text-color: white;
}

.material-symbols-outlined {
    font-variation-settings:
            'FILL' 0,
            'wght' 100,
            'GRAD' -25,
            'opsz' 48
}

* {
    font-size: 20px;
    background: var(--main-color);
    color: var(--text-color);
    font-family: sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 50px 20px;
}

.left {
    margin-left: 10px;
}

.right {
    display: flex;
    gap: 20px;
    margin-right: 10px;
}

.a {
    text-decoration: none;
    color: black;
}