<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!--suppress HtmlRequiredTitleElement, HtmlUnknownTag, CheckEmptyScriptTag -->
    <head th:replace="~{fragments/general.html :: head}"/>
    <title>k8s Panel</title>
    <link th:href="@{/css/nodes.css}" rel="stylesheet">
</head>

<body>

<header th:insert="~{fragments/general.html :: header}"></header>

<div class="nodes">
    <div class="nodes-header generic-node">
        <div style="width: 50%;">Name</div>
        <div>Addresses</div>
        <div>CPU</div>
        <div>Memory</div>
        <div>Storage</div>
    </div>
    <a class="node-container" th:each="node: ${nodes}" href="#">
        <div class="status-indicator"></div>

        <div class="node generic-node">
            <span class="node-entry" style="width: 50%;">
                <img style="width: auto; height: 35px; margin: 0 20px 0 20px; background: #888888; border-radius: 10000px; padding: 8px 20px 8px 20px;" th:src="@{/assets/svg/server.svg}" alt=""/>
                <span th:text="${node.getName()}"></span>
            </span>
            <span class ="node-entry">

                <img th:src="@{/assets/svg/network.svg}" alt=""/>
                <span th:text="${node.getAddress()}"></span>
            </span>
            <span class ="node-entry">
                <img th:src="@{/assets/svg/cpu.svg}" alt=""/>
                <span th:text="${node.getAllocatedCPU()} + '/' + ${node.getCapacityCPU()}"></span>
            </span>
            <span class ="node-entry">
                <img th:src="@{/assets/svg/memory.svg}" alt=""/>
                <span th:text="${node.getAllocatedMemory()} + '/' + ${node.getCapacityMemory()}"></span>
            </span>
            <span class ="node-entry">
                <img th:src="@{/assets/svg/storage.svg}" alt=""/>
                <span th:text="${node.getAllocatedStorage()} + '/' + ${node.getCapacityStorage()}"></span>
            </span>
        </div>
    </a>
</div>


<footer th:insert="~{fragments/general.html :: footer}"></footer>

</body>

</html>